<div class="row">
  <div class="col-2">

  </div>
  <div class="col-6 p-3">
    <button type="button" class="btn btn-outline-success">
      <i class="bi bi-info-circle"></i> Revision History
    </button>
  </div>
  <div class="col-2">
    <div class="checkbox switcher">
      <label for="test1">
        <small>Tabular</small>
        <input type="checkbox" id="test1" name="visual" (change)="onCheckboxChange($event)">
        <span><small></small></span>
        <small>Visual</small>
      </label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-2">

  </div>
  <div class="col-6">
    <table class="table table-borderless table-sm">
      <thead>
        <tr>
          <th class="text-primary" scope="col">Part ID</th>
          <th class="text-primary" scope="col">Part Name</th>
          <th class="text-primary" scope="col">Doc ID</th>
          <th class="text-primary" scope="col">Manufacturing Process</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{document!.partId}}</th>
          <th>{{document!.partName}}</th>
          <th>{{document!.id}}</th>
          <th><span class="badge text-bg-primary">Assembly</span></th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-2">
    <button type="button" class="btn btn-primary btn-sm">Revise/Update</button>
  </div>
</div>

<div *ngIf="isTabular; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <app-tabular-model [document]="document"></app-tabular-model>

</ng-template>
<ng-template #elseBlock>
  <app-diagram [document]="document"></app-diagram>
</ng-template>