<div class="row">
    <!--<div class="col-2">
        <app-side-menu [document]="document"></app-side-menu>
    </div> -->
    <div class="col-1">

    </div>
    <div class="col-8">
        <table class="table table-sm">
            <thead>
                <tr class="table-dark">
                    <th scope="col">Rev</th>
                    <th scope="col">Description</th>
                    <th scope="col">Prepared</th>
                    <th scope="col">Date</th>
                    <th scope="col">Approved By</th>
                    <th scope="col">Approved Date</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rev of revisons.reverse();  first as isFirst">
                    <th scope="row">{{rev.revisionid}}</th>
                    <td>{{rev.description}}</td>
                    <td>{{rev.preparedBy}}</td>
                    <td>{{rev.createdAt}}</td>
                    <td>{{rev.approvedBy}}</td>
                    <td>{{rev.approvedDate}}</td>
                    <td> <button *ngIf="isFirst" (click)="callbackFunction()" type="button"
                            class="btn btn-primary btn-sm">Revise/Update</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-3">
        <app-side-steps [lastRevsion]="revisons[revisons!.length-1] " [callbackFunction]="callbackFunction"
            [document]="document">
        </app-side-steps>
    </div>
</div>