<i class="bi bi-info-circle"></i>
<h6>Process Routes</h6>
<button type="button" class="btn btn-primary btn-sm">edit</button>
<table class="table">
    <thead>
        <tr>
            <td scope="col">Step</td>
            <td scope="col">Step Description</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">
                <div class="bd-callout bd-callout-success">1</div>
            </td>
            <td>
                <div class="bd-callout-text">Start</div>
            </td>
        </tr>

    </tbody>
</table>