<div class="row">

    <div class="col">
        <button type="button" class="btn btn-outline-success">
            <i class="bi bi-info-circle"></i> Process Routes
        </button>
    </div>

    <div class="col">
        <button type="button" class="btn btn-primary btn-sm">edit</button>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <td scope="col">Step</td>
            <td scope="col">Step Description</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">
                <div class="bd-callout bd-callout-success">{{lastRevsion|json}}</div>
            </td>
        </tr>

    </tbody>
</table>